
.page-title{
	display: block !important;
	text-align:center;
	font-size:3rem;
	margin-top:10px;
}

.form-container{
	width:300px;
	margin:auto;
}

.bg{
	background: #D3CCE3; 
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3); 
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
}

.ui.card,
.ui.cards>.card {
background: #ECE9E6;  
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
}
